body {
    width: 100%;
    height: 100vh;
    background-color: #515151;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
}